/*
    Стилізація:
    post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.
 */

body {
    margin: 0;
}

.sectionComment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.comment{
    display: flex;
    width: calc(80%/4);
    min-width: 190px;
    flex-direction: column;
    margin: 1%;
    justify-content: space-between;
    padding: 1%;
    background-color: #D9D9D9;
    flex-wrap: wrap;
}

.sectionComment ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
